.container {
  margin-top: 1rem;
  display: flex !important;  
  align-items: center !important;
}
.column {
  margin-bottom: 1.5rem !important;
}
img {
  width: 100% !important;
  height: 30vh !important;
}
.main-box {
  box-shadow: 0 0px 5px 2.5px #ededed;
  /*border: 2px solid red;*/
}
.content-box {
  padding: 6.5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.placename {
  /*padding-top: .5rem;*/
  font-weight: 700;
  font-size: 21px;
}
.para {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 1rem;
}
.price-div {
  font-weight: 500;
  font-size: 1.05rem;
  display: flex;
  justify-content: space-between;
}
button {
  width: 50%;
  padding: .6rem 0;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: all .2s ease-in;
  color: #fff;
  text-transform: capitalize !important;
  letter-spacing: .5px;
}
button a {
  border: none;
  padding: 0 0;
  text-decoration: none;
}
button.btn-blue {
  background: #0090ff;
}
button.btn-blue:hover {
  background: #0488ed;
}
button.btn-green {
  background: #1caa17;
}
button.btn-green:hover {
  background: #1b9e14;
}